<%- include("partials/header.ejs") %>

<style>
    body{
        background-color: rgba(230,231,231,255);
    }
</style>

<div>
    <form action="/forgot-password" method="post">
        <div class="l3">
            <div class="l-div">
                <input type="text" class="form-control login-form" id="formGroupExampleInput" placeholder="Enter mail">
                <button type="submit" class="btn">Send link</button>
            </div>
            <div class="fle-div">
                <a href="/login" style="padding:5px 10px; text-decoration: none;">Login here </a>
            </div>
        </div>
    </form>
</div>







<%- include("partials/footer.ejs") %>