<%- include("partials/header.ejs") %>

<div class="found-div">
    <h4>You have reached the maximum API Key Limit</h4>
    <h6>Try to upgrade your current plan <a href="/upgrade-plan" style="text-decoration:none;">Upgrade plan</a> </h6>
</div>

<%- include("partials/footer.ejs") %>