<%- include("partials/header.ejs") %>

<style>
    body{
        background-color: rgba(230,231,231,255);
    }
</style>

<div class="found-div">
    <h4>User Registration found</h4>
    <span>Please <a href="/login" style="text-decoration:none;">login</a> </span>
</div>

<%- include("partials/footer.ejs") %>