<%- include("../partials/header.ejs") %>

<style>
    body{
        background-color: rgba(230,231,231,255);
    }
</style>

<div class="found-div">
    <h5>Error occured while performing the task</h5>
    <span>Please try Again </span>
</div>

<%- include("../partials/footer.ejs") %>