<%- include("../partials/header.ejs") %>

<style>
    body{
        background-color: rgba(230,231,231,255);
    }
</style>

<div class="found-div">
    <h5>Oops! No User Found</h5>
    <span>Please try <a href="/register" style="text-decoration:none;">Sign Up</a> </span>
</div>

<%- include("../partials/footer.ejs") %>